# Iteration
## For Loop

In [ ]:
# contoh syntax for loop
for target in iretable:
  statment(s)

In [1]:
# mencoba perulangan dengan list
list_angka = [1, 3, 5, 7, 9]

for i in list_angka:
  print(i)

1
3
5
7
9

In [2]:
# mencoba perulangan dengan tuple
tuple_angka = (1, 2, 3, 4, 5, 6)
for i in tuple_angka:
  print(i)

1
2
3
4
5
6

In [5]:
# mengecek apakah dapat data dapat diiterasikan atau tidak
iter({2, 4, 6})

In [6]:
# looping mengguanakan range
for i in range(5):
  print(i)

0
1
2
3
4

In [7]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
#digunakan untuk apabila mau lompat 2 2 untuk bilangan yang ditampilkan
for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [9]:
# statment bisa lebih dari satu
for i in range(1, 11):
  kuadrat = i*i
  print(f'kuadrat {i} adalah {kuadrat}')

kuadrat 1 adalah 1
kuadrat 2 adalah 4
kuadrat 3 adalah 9
kuadrat 4 adalah 16
kuadrat 5 adalah 25
kuadrat 6 adalah 36
kuadrat 7 adalah 49
kuadrat 8 adalah 64
kuadrat 9 adalah 81
kuadrat 10 adalah 100

In [14]:
# terdapat 50 user_id dari 101 sampai 150
# kita akan memilih beberapa user
# dengan kriteria:
# jika nilai user_id adalah bilangan kelipatan 5 yang habis dibagi 2
# gunakan for loop dan cantumkan user yang masuk kriteria
# hint: 
# buat list kosong nanti dimasukkan nilai yang sesuai kriteria
# nilai user_id yang masuk kriteria dimasukkan ke dalam list kosong tsb

user_id = []
user_id_choosen = []
for i in range(101, 151):
  user_id.append(i)
  if i % 5 == 0 and i % 2 == 0:
    user_id_choosen.append(i)

print(f'user id: {user_id}')
print(f'user id terpilih: {user_id_choosen}')

user id: [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]
user id terpilih: [110, 120, 130, 140, 150]

In [15]:
list_angka = [1, 3, 5, 7, 9]

for i in list_angka:
  print(i)

1
3
5
7
9

In [16]:
# memunculkan index secara manual
for i in list_angka:
  print(f'index {list_angka.index(i)} bernilai {i}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9

In [17]:
# kekurangan
# apabila ditambahkan angka yang sama dia menampilkan indeks yang sama juga
list_angka = [1, 3, 5, 7, 9, 1]

for i in list_angka:
  print(f'index {list_angka.index(i)} bernilai {i}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9
index 0 bernilai 1

In [18]:
# memunculkan indeks yang sesuai (.enumerate)
list_angka = [1, 3, 5, 7, 9, 1]

for i, x in enumerate(list_angka):
  print(f'index {i} bernilai {x}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9
index 5 bernilai 1

In [22]:
# data iteralenya multidimensi
data = [
    [1, 'Andi'],
    [2, 'Toni'],
    [3, 'Budi'],
    [6, 'Jeni']
]

for m, n in data:
  print(f'nomor {m}, namanya {n}')

for i in data:
  print(i)

for m, n in data:
  print(f'namanya {n}')

nomor 1, namanya Andi
nomor 2, namanya Toni
nomor 3, namanya Budi
nomor 6, namanya Jeni
[1, 'Andi']
[2, 'Toni']
[3, 'Budi']
[6, 'Jeni']
namanya Andi
namanya Toni
namanya Budi
namanya Jeni

In [23]:
# memuat lis baru dari suatu loop
nilai = [50, 60, 70, 80, 90, 30]
status = []

for i in nilai:
  if i > 70:
    status.append('Lulus')
  else:
    status.append('Tidak Lulus')

print(nilai)
print(status)

[50, 60, 70, 80, 90, 30]
['Tidak Lulus', 'Tidak Lulus', 'Tidak Lulus', 'Lulus', 'Lulus', 'Tidak Lulus']

In [24]:
# one line loop
nilai = [50, 60, 70, 80, 90, 30]
status = ['Lulus' if i >= 70 else 'tidak Lulus' for i in nilai]

print(nilai)
print(status)

[50, 60, 70, 80, 90, 30]
['tidak Lulus', 'tidak Lulus', 'Lulus', 'Lulus', 'Lulus', 'tidak Lulus']

In [26]:
# nasted for
# memasangkan semua category tetapi tidak dengan category itu sendiri
category_list = ['makanan', 'minuman', 'fashion', 'elektronik']
bundling_list = []

for i in category_list:
  category = i
  for y in category_list:
    if i != y:
      category_2 = y
      bundling = i + '-' + y
      bundling_list.append(bundling)

In [27]:
bundling_list

['makanan-minuman',
 'makanan-fashion',
 'makanan-elektronik',
 'minuman-makanan',
 'minuman-fashion',
 'minuman-elektronik',
 'fashion-makanan',
 'fashion-minuman',
 'fashion-elektronik',
 'elektronik-makanan',
 'elektronik-minuman',
 'elektronik-fashion']

challange
- list_order = [10, 1, 2, 3, 25, 11, 22, 30, 35]
- tetukan ada berapa banyak customer yang orderannya di atas rata - rata
- tampilkan nilai rata - rata
- tampilkan orderan yang diatas rata - rata
- tampilkan jumlah orderan diatas rata - rata

In [32]:
import numpy as np

list_order = [10, 1, 2, 3, 25, 11, 22, 30, 35]

list_order_array = np.array(list_order)
mean = np.mean(list_order_array)
lebih = []

for i in list_order_array:
  if i > mean:
    lebih.append(i)

print(f'rata - rata: {mean}')
print(f'orderan yang diatas rata - rata: {lebih}')
print(f'banyak orderan yang diatas rata - rata: {len(lebih)}')

rata - rata: 15.444444444444445
orderan yang diatas rata - rata: [25, 22, 30, 35]
banyak orderan yang diatas rata - rata: 4

In [36]:
# looping pada dictionary
# manual
seller_category = {
    'A': ['makanan', 'minuman', 'elektronik'],
    'B': ['fashion', 'makanan'],
    'C': ['minuman'],
    'D': ['aksesoris', 'fashion']
}

for i in seller_category:
  print(f'seller {i} berjualan {seller_category[i]}')

seller A berjualan ['makanan', 'minuman', 'elektronik']
seller B berjualan ['fashion', 'makanan']
seller C berjualan ['minuman']
seller D berjualan ['aksesoris', 'fashion']

In [37]:
# yang benar
for key, value in seller_category.items():
  print(f'seller {key} berjualan {value}')

seller A berjualan ['makanan', 'minuman', 'elektronik']
seller B berjualan ['fashion', 'makanan']
seller C berjualan ['minuman']
seller D berjualan ['aksesoris', 'fashion']

In [38]:
# membuat dict baru dari suatu looping
new_dict = {}

for key, value in seller_category.items():
  if 'minuman' in value:
    new_dict.update({key : value})

print(new_dict)

{'A': ['makanan', 'minuman', 'elektronik'], 'C': ['minuman']}

In [40]:
# dari seller category di atas, buat dictionary baru (new_seller)
# ambil data seller yang menjual fashion

dict_fashion = {}

for key, value in seller_category.items():
  if 'fashion' in value:
    dict_fashion.update({key : value})

print(dict_fashion)

{'B': ['fashion', 'makanan'], 'D': ['aksesoris', 'fashion']}

## While Loop

In [ ]:
# while loop
while expression:
  statment(s)

In [41]:
i = 0
while i < 5:
  print(i)
  i += 1 # harus diberi batas agar tidak terjadi infinite loop

0
1
2
3
4

In [42]:
# break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [44]:
# continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [45]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print('looping telah berakhir')

1
2
3
4
5
looping telah berakhir

In [46]:
# manfaat while adalah memberi batasan agar tidak melakukan looping hingga akhir data
# akan berhenti apabila data ditemukan

In [51]:
data = [1, 2, 3, 50, 45, 33, 70, 20]
target = 50
found = False
i = 0

while i < len(data) and not found:
  if data[i] == target:
    found = True
  else:
    i += 1

if found:
  print(f'target {target} found at index {i}')
else:
  print(f'target {target} not found')

target 50 found at index 3

# Function

In [52]:
def cetak_kalimat():
  print('belajar pyhton itu mudah')

In [53]:
cetak_kalimat()

belajar pyhton itu mudah

In [54]:
cetak_kalimat

In [55]:
nilai.append

In [56]:
# output fungsi
def perkalian(a, b):
  print(a * b)

In [58]:
perkalian(4, 4)

16

In [59]:
nilai = perkalian(5, 5)

25

In [60]:
# output fungsi (return)
# nanti outputnya harus di masukkan kedalam print
def penjumlahan(a, b):
  return a + b

In [61]:
penjumlahan(5, 6)

11

In [62]:
nilai = penjumlahan(4, 6)

In [63]:
nilai

10

In [64]:
# default variable
# biar tidak terjadi error apabila tidak didefinisikan ketika fungsi dijalankan
def belajar(var = 'python'):
  print(f'saya sedang belajar {var}')

In [65]:
belajar('fungsi')

saya sedang belajar fungsi

In [66]:
belajar()

saya sedang belajar python

In [68]:
# doc string
# digunakan untuk memberikan komen
def deteksi_genap(var):
  '''
  ini adalah fungsi untuk mendeteksi suatu bilangan bernilai genap
  '''
  if var % 2 == 0:
    print(f'{var} adalah bilangan genap')
  else:
    print(f'{var} adalah bilangan ganjil')

In [69]:
deteksi_genap(1234664)

1234664 adalah bilangan genap

In [74]:
# challenge
# buatlah suatu fungsi yang bisa mendeteksi kata 'python'
# memberikan nilai True jika ditemukan dan flase dija tidak ditemukan
# untuk melakukan pengecekan silahkan gunakan metode input
# struktur
# def
# input kalimat -> fungsi cek kalimat

def deteksi_kalimat(kata):
  if 'python' in kata:
    return True
  else:
    return False

In [84]:
kata = input('Masukkan kalimat: ').lower()
print(f'Apakah terdapat kata "python"? {deteksi_kalimat(kata)}')

Masukkan kalimat: Python itu ular kannn
Apakah terdapat kata "python"? True

In [85]:
# pythonic way
def cek_python(text):
  return 'python' in text.lower()

In [86]:
cek_python('python')

True

In [87]:
# *Args dan **Kwargs
# args: argumenya bisa banyak
def jumlah(a, b):
  return a + b

In [88]:
jumlah(1, 2)

3

In [89]:
def jumlah(a, b, c):
  return a + b + c

In [90]:
jumlah(1,2,3)

6

In [91]:
def jumlah(*args):
  return sum(args)

In [93]:
jumlah(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [94]:
#cek args
# args berupa tuple sehingga bisa multiple namun data tidak bisa berubah
def cek(*args):
  print(args)

In [96]:
cek(1, 2, 3, 5, 7, 'zalfa')

(1, 2, 3, 5, 7, 'zalfa')

In [102]:
# cek kwargs
# digunakan untuk data yang ada = nya
def cek_kwargs(**kwargs):
  print(kwargs)

In [103]:
# kwargs untuk banyak data dictionary
cek_kwargs(nama='zalfa', umur='21')

{'nama': 'zalfa', 'umur': '21'}

In [106]:
def cek_berat(**kwargs):
  if 'budi' in kwargs:
    print('berat budi msuk ke kategori {}'.format(kwargs['budi']))
  else:
    print('budi tidak ada di database')

In [107]:
cek_berat(budi='kurus', jenis='gemuk')

berat budi msuk ke kategori kurus

In [108]:
# menggabungkan args da kwargs
def fungsiku(*args, **kwargs):
  print('saya ingin membeli {} {} secara tunai' .format(args[0], kwargs['makanan']))

In [109]:
fungsiku(10, 40, 50, makanan='mie ayam', minuman='es teh')

saya ingin membeli 10 mie ayam secara tunai

In [110]:
# fungsi lamda
# simple fungsi
x = lambda a, b : a + b

In [111]:
x(1, 2)

3